:root {
    --primary-color: #f5dd84;
    --secondary-color: #545454;
    --tertiary-color: #FFFCF3;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Prata', serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 10px solid var(--secondary-color);
}

header img {
    max-width: 5rem;
}

h1 {
    font-size: 4rem;
    margin-left: 10%;
}

#cover {
    border-bottom: 5px solid var(--secondary-color);
    background: url('images/cover.jpg') no-repeat bottom;
    background-size: cover;
    display: flex;
    height: 50vh;
    align-items: center;
}

.cover-container {
    margin-left: 8%;
    margin-right: 5%;
}

#cover .headline {
    font-size: 4rem;
    vertical-align: middle;
    color: #333;
    padding: .5rem;
    margin-bottom: 2rem;
    max-width: 50vw;
}

.button {
    border-radius: 4px;
    box-shadow: 1px 1px 2px #666;
    font-size: 1.2rem;
}

.button:hover {
    cursor: pointer;
}

.button a {
    display: block;
    padding: 1rem;
    text-decoration: none;
}

.button.industry {
    display: inline-block;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}

.button.industry a {
    color: var(--secondary-color);
}

.button.researcher {
    display: inline-block;
    border: 1px solid var(--secondary-color);
    background-color: var(--tertiary-color);
}

.button.researcher a {
    color: var(--secondary-color);
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem 0;
    color: var(--secondary-color);
    padding-left: 2rem;
}

#what {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    padding: 4rem 15%;
    color: var(--secondary-color);
}

#how {
    border-top: 5px solid var(--secondary-color);
}

#how .how-list {
    border-top: 2px solid var(--secondary-color);
    background-color: var(--tertiary-color);
    padding: 2rem 0 1rem 5%;
}

#how .list-item {
    color: var(--secondary-color);
    font-size: 1.3rem;
    margin-left: 1rem;
}

ol {
    list-style: none;
    counter-reset: numList;
}

ol li {
    display: flex;
    align-items: center;
    margin: 0 5% 1rem;
}

ol li:before {
    background: var(--primary-color);
    border-radius: 100rem;
    counter-increment: numList;
    content: counter(numList);
    color: var(--secondary-color);
    clear: both;
    float: left;
    height: 20px;
    width: 20px;
    padding: .5rem;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container {
    width: 50vw;
}

.left-container img {
    width: 100%;
    margin-bottom: -6px;
}

.right-container {
    width: 50vw;
}

.right-container p {
    margin: 0 5% 0 10%;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

main {
    display: flex;
    align-items: center;
    border-bottom: 5px solid var(--secondary-color);
}

.form {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    font-size: 1.2rem;
    background-color: var(--tertiary-color);
}

.form input {
    margin-bottom: 1rem;
    padding: .5rem;
    width: 20vw;
}

.form textarea {
    padding: .5rem;
    width: 20vw;
}

.form button {
    background-color: var(--primary-color);
    padding: .5rem 1rem;
    font-size: 1rem;
}

.form ::placeholder {
    color: #bbb;
}